<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>py.fujisan</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python</string>
		<string>/Users/Svartlab/Documents/Frontier/Scripts/fujisan/fujisan.py</string>
	</array>
	<key>StartInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/tmp/fujisan.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/fujisan.error.log</string>
</dict>
</plist> 
